<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007138815568-a5ibq4159efdtdtd8mbrgrh7j23efh1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007138815568-a5ibq4159efdtdtd8mbrgrh7j23efh1t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007138815568-7uucbq2cpqpoq0pe5d9odfu0ul9lt4sj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzXaiNWJFHJKRf_rbidSjNKZexxWsgr5U</string>
	<key>GCM_SENDER_ID</key>
	<string>1007138815568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.echo.fluttergods.client</string>
	<key>PROJECT_ID</key>
	<string>echo-audio-journaling-app</string>
	<key>STORAGE_BUCKET</key>
	<string>echo-audio-journaling-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007138815568:ios:c84b4282297276559f9b55</string>
</dict>
</plist>